@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-image: url(../assets/pexels-photo-1564506.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 20%; }
  body #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Liu Jian Mao Cao', cursive; }
  @media (min-width: 992px) {
    body {
      font-size: 1.2rem; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 1.6rem; } }
  @media (min-width: 200px) and (max-width: 767px) {
    body {
      font-size: 2.2rem; } }

#talk {
  background-color: blue;
  border-radius: 20px 0px 20px 20px;
  padding: 20px;
  color: white;
  -webkit-animation: appear 2s ease-in-out;
          animation: appear 2s ease-in-out; }
@-webkit-keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.talk2, .talk2-info {
  text-align: center;
  -webkit-animation: appearBottom 2s linear, blink 2s linear;
          animation: appearBottom 2s linear, blink 2s linear;
  color: pink; }
@-webkit-keyframes appearBottom {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(100 vh);
            transform: translateY(100 vh); } }
@keyframes appearBottom {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(100 vh);
            transform: translateY(100 vh); } }
@-webkit-keyframes blink {
  0% {
    opacity: 1;
    color: blue; }
  25% {
    opacity: 0;
    color: red; }
  50% {
    opacity: 1;
    color: violet; }
  75% {
    opacity: 0;
    color: green; }
  100% {
    opacity: 1;
    color: pink; } }
@keyframes blink {
  0% {
    opacity: 1;
    color: blue; }
  25% {
    opacity: 0;
    color: red; }
  50% {
    opacity: 1;
    color: violet; }
  75% {
    opacity: 0;
    color: green; }
  100% {
    opacity: 1;
    color: pink; } }
  .talk2-info {
    background-color: blue; }

.scale {
  -webkit-transform: scale(2);
          transform: scale(2); }

button {
  margin-top: 20px;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }
  button:hover {
    color: white;
    background-color: gold; }

#container_water {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  #container_water li:first-child {
    background-color: yellow;
    -webkit-transform: scale(2);
            transform: scale(2); }
  #container_water li:nth-child(2) {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  #container_water li:last-child {
    background-color: pink;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  #container_water .water {
    background-color: blue;
    border-radius: 20px 0px 20px 20px;
    padding: 20px;
    color: white;
    list-style-type: none;
    -webkit-animation: appear 2s ease-in-out;
            animation: appear 2s ease-in-out; }
@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.color {
  background-color: blue; }

/*# sourceMappingURL=index.css.map */